*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    margin-top: 70px;
}
.wrapper {
    width:450px;
    background-color: blue;
    height:100%;
}
.wrapper h1{
    font-size: 20px;
    text-align: center;
}
.wrapper .input_box input {
    font-size: 20px;
    height:100%;
    width:100%;
    margin:20px 0;
    border-radius: 40px;
    border:2px solid black;
}
 .wrapper .Rem-forget { 
    display: flex;
    justify-content: space-between;
}
